

/* all_user_list.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-transform: capitalize;
}

/* all_user_list.css */

.main-content {
    margin-left: 280px; /* Adjusted margin-left */
    padding: 20px;
    transition: margin-left 0.3s ease, padding 0.3s ease;
}


h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

h2::after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #007bff;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 2px;
    transition: width 0.3s ease;
}

h2:hover::after {
    width: 100px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.user-table th, .user-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-table th {
    background-color: #007bff;
    color: #fff;
}

.user-table tbody tr:hover {
    background-color: #f0f0f0;
}
/* all_user_list.css */

.filter-option {
    text-align: center;
}

#filter {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

#filter:hover {
    border-color: #007bff; /* Blue color on hover */
}
/* all_user_list.css */

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
.title{
    display: flex;
    justify-content: space-between;
}

/* CSS for search box */
/* CSS for filter, search box, and button */
.filter-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-option {
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.btn-search {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-search:hover {
    background-color: #0056b3;
}

